// Fonts 
@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1,h2,h3,h4,h5{
    font-family: "Oswald";
  }


//   Font sizes

  h1 {
    font-size: 140px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 400;
  }
  h2 {
    font-size: 56px;
    font-weight: 400;
  }
  h3 {
    font-size: 32px;
    font-weight: 400;
  }
  h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Roboto";
  }

  .bold {
    font-size: 24px;
    line-height: 30px;
  }
  .normal {
    font-size: 24px;
  }
  .small {
    font-size: 18px;
  }
  .little {
    font-size: 16px;
  }

body {
    font-family: "Roboto";
    position: relative;
    background-color: #131313;
}


// Colors
:root {
    --gold-gradient: linear-gradient(89.69deg, #CF9F66 5.29%, #FFDC9C 46.7%, #946331 98.34%);
    --second: #191919
    --black-gradient: linear-gradient(180deg, #2B2B2B 0%, #3B3B3B 100%);

  }

.gold_text {
    background: var(--gold-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
// Buttons
.buttons {
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 20px;
}


.btn {
    font-family: "Oswald";
    max-width: 320px;
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    display: block;
    text-align: center;
    align-content: center;
    text-decoration: none;

    position: relative;
    border: none; 
    outline: none;
    cursor: pointer;
}

.personal {
    font-family: "Oswald";
    max-width: 552px;
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    display: block;
    text-align: center;
    align-content: center;
    text-decoration: none;

    position: relative;
    border: none; 
    outline: none;
    cursor: pointer;
}


.golden {
    background: var(--gold-gradient);
    color: rgba(25, 25, 25, 1);
}

.golden::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease-out;
    pointer-events: none; 
}
.golden:hover::after { 
    border-color: #000;
}

.matte {
    color: white;
    background: linear-gradient(180deg, #2B2B2B 0%, #3B3B3B 100%);
}

.matte::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease-out;
    pointer-events: none; 
}
.matte:hover::after { 
    border-color: #000;
}
.matte:active {
    background: rgba(25, 25, 25, 1);
    // transition: background 0.3s ease-out;
}
.combi {
    display: inline-block;
    // background: #000; 
    position: relative;
 
    
}
.combi::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px; 
    padding: 2px; 
    background:var(--gold-gradient); 
    mask: 
        linear-gradient(#000 0 0) content-box, 
        linear-gradient(#000 0 0);
    mask-composite: exclude;
  }

  .combi span {
    display: block;
    background: #000; 
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--gold-gradient);
  }

  .combi:hover, .combi:active {
    background-image: var(--gold-gradient);
  }
  .combi:hover span, .combi:active span {
    color: rgba(25, 25, 25, 1);
  }


//Insta btn 
.insta_btn {
    max-width: 295px;
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    display: block;
    text-align: center;
    align-content: center;
    text-decoration: none;
    position: relative;
    border: none; 
    outline: none;
    cursor: pointer;
    background-color: rgba(57, 57, 57, 1);
}

.insta_btn span {
    display: block;
    background: #000; 
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--gold-gradient);
}

.insta_btn:hover {
    background: var(--gold-gradient);
}
.insta_btn:hover span {
    color: rgba(25, 25, 25, 1);
}


// Containers
.container {
    display: flex;
    flex-direction: column;
    width: 1240px;
}


// Hero Section
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden; 
 
}

.hero_block {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #000;
    background-image: url(img/hero/HeroI2.png);
    position: relative;
    // padding-top: 200px;

    .container {
        flex-direction: row;
        align-items: center;
    }
}
.hero_one {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 609px;
    gap: 24px;
    
    .hero_img_mob {
        display: none;
    }

    h1 {
        background: var(--gold-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    p {
        color: white;
        max-width: 483px;
        font-family: "Oswald";
    }
    .hero_btns {
        padding-top: 32px;
        display: flex;
        gap: 24px;
    }
}
// .hero_two {
//     width: 100%;
//     max-width: 661px;
//     height: 708px;
//     background-image: url(img/hero/Ellipse.png);
// }

.hero_two {
    background-image: url(img/hero/Ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 

    .hero_bottom {
        display: none;
    }
}

.hero_two img {
    position: relative;
    z-index: 1; 
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.hero_bottom {
    transform: translateY(-38px);
    position: relative;
    z-index: 2;

    img {
        width: 100%;
        height: 100px;
    }
   
}


// CARDS COMPONENT
.courses {
    padding-top: 50px;
    padding-bottom: 150px;
    display: flex;
    width: 100%;
    // background-color: #000;
    justify-content: center;

    .container {
        justify-content: center;
        align-items: center;
        gap: 56px;
    }
}
.cards_component_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1240px;
    gap: 20px;
    // background-color: #000;
}

.standart_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 232px;
    background: linear-gradient(249.78deg, #2B2B2B 0%, #3B3B3B 100%);
    border-radius: 16px;
    padding: 56px 24px;
    gap: 16px;

    h3 {
        background: var(--gold-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: white;
    }
}


// TEST BLURE
.blure1 {
    position: absolute;
    width: 100%;
    top: 876px;
    z-index: 0;

    img {
        width: 100%;
    }
}

// ABOUT SECTION
.about_section {
    // background-color: #000;
    justify-content: center;
    display: flex;
    // background-image: url(img/EllipseRight.png);
}
.about_wrapper {
    display: flex;
    gap: 87px;
    position: relative;

    .about_text_block {
        width: 100%;
        max-width: 648px;
        

        h2 {
            line-height: 70px;
        }
        .pros_wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 27px;
            padding-top: 56px;
            padding-bottom: 109px;
            
            .pros_block {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .pros_item {
                    display: flex;
                    gap: 16px;
                    width: 100%;
                    max-width: 288px;
                    height: 44px;

                    img {
                        width: 57px;
                        height: 44px;
                    }
                    p {
                        color: white;
                    }
                }
            }
        }
        .about_btn_wrapper {
            display: flex;
            gap: 20px;
            align-items: center;
            p {
                max-width: 260px;
                color: rgba(86, 86, 86, 1);
            }
        }

    }
    .about_photo_block {
        width: 100%;
        max-width: 505px;
    }
}


// INFO SECTION
.info_section{
    // background-color: #000;
    display: flex;
    justify-content: center;
    .info_top {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            padding-bottom: 16px
        }
        h4 {
            color: white;
            font-weight: 400;
            text-align: center;
        }
    }

    .info_bottom {
        padding-top: 56px;
        display: flex;
        gap: 20px;
        position: relative;
        z-index: 3;

        img {
            max-width: 610px;
            width: 100%;
            height: 420px;
        }

        .info_text_wrapper {
            display: flex;
            flex-direction: column;
            max-width: 610px;
            width: 100%;
            gap: 17px;

            p {
                color: white;
            }
        }
    }
}



// ALL COURSES
.all_courses_wrapper {
    display: flex;
    flex-direction: column;
    background-color: Black;
    // height: 600px;
    border-radius: 50vw 50vw 0 0;
    padding-top: 256px;
    margin-top: -156px;
    position: relative;
}

// BUSSINES COURSE
.bussinnes_section {
    // padding-top: 150px;
    display: flex;
    justify-content: center;
    // background-color: #000;
    

    .container {
        align-items: center;

        h2 {
            padding-bottom: 24px;
        }
       
    }

    .accordion_item {
        width: 1030px;
    }
    p {
        color: white;
    }

    .bussines_accordion_wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 56px;
        position: relative;
        z-index: 2;
    }
}


// Tarif Section
.testtar {
    background-color: black;
    border-radius: 0% 0% 2% 2%;
    padding-bottom: 100px;
}
.tarif_section {
    width: 100%;
    padding-top: 150px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 150px;
    position: relative;
    color: white;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    overflow-x: clip;

    .eclipce_bg {
        position: absolute;
        z-index: 1;
        top: -35px;
    }

    .eclipce_mob {
        display: none;
    }


    .container {
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;

        .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 56px;

            h2 {
                padding-bottom: 24px;
            }
        }
    }

    .slider-container {
        display: flex;
        flex-direction: column;
    }

    .tarif_cards_wrapper {
        display: flex;
        padding-top: 56px;
        gap: 20px;
        position: relative;
        overflow: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;
        scrollbar-width: none;
        -ms-overflow-style: none; 

        .tarif_card {
            width: 100%;
            max-width: 505px;
            height: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            padding: 40px;
            border-radius: 16px;
            flex-shrink: 0;
            scroll-snap-align: start;

            .tarif_card_top {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
            .tarif_card_bottom {
                display: flex;
                flex-direction: column;
                gap: 44px;
                padding-top: 36px;
                width: 100%;
                align-items: center;

                h4 {
                    font-weight: 400;
                }
                div {
                    text-align: center;
                }
                .btn {
                    max-width: 100%;
                }
            }
        }
        .tarif_standart_card {
            color: rgba(255, 255, 255, 1);
            background: linear-gradient(198.78deg, #2A2A2A -1.46%, #3E3E3E 107.55%), radial-gradient(circle at top left, #CF9F66,#946331);
            border: double 1px transparent;
            background-origin: border-box;
            background-clip: padding-box, border-box;

            ul {
                list-style: none;

                li {
                    position: relative; 
                    padding-left: 22px; 
                  }

                  .cons {
                    text-decoration: line-through;
                    color: rgba(109, 109, 109, 1);
                  }

                li::before {
                    content: ""; 
                    position: absolute;
                    left: 0;
                    top: 0px; 
                    width: 16px; 
                    height: 16px; 
                    background-image: url('img/decoration/golden_bullet.svg');
                    background-size: contain; 
                    background-repeat: no-repeat;
                  }
                li+.cons::before {
                    background-image: url('img/standart_cons.svg');
                }  
            }
        }

        .tarif_golden_card {
            color: #191919;
            background: var(--gold-gradient);


            ul {
                list-style: none;

                li {
                    position: relative; 
                    padding-left: 22px; 
                    color: #191919;
                  }

                li::before {
                    content: ""; 
                    position: absolute;
                    left: 0;
                    top: 0px; 
                    width: 16px; 
                    height: 16px; 
                    background-image: url('img/decoration/white_bullet.svg');
                    background-size: contain; 
                    background-repeat: no-repeat;
                  }

                  .cons {
                    text-decoration: line-through;
                    color: white;
                  }

                  li+.cons::before {
                    background-image: url('img/golden_cons.svg');
                }  
            }
            .normal {
                color: white;
            }

            .tarif_card_bottom {
                h4 {
                    color: white;
                    font-weight: 400;
                }
            }
        }
    }
    .morecards {
        .tarif_card {
            max-width: 400px;
        }
    }
}
.slider-nav {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  .slider-prev,
  .slider-next {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #cf9f66;
  }

  .slider-dots {
    display: flex;
    gap: 10px;
  }


.slider-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(180deg, #2B2B2B 0%, #3B3B3B 100%);
    cursor: pointer;
    transition: 
      width 0.3s ease,
      height 0.3s ease,
      background 0.3s ease,
      border-radius 0.3s ease; 
  }
  
  .slider-dot.active {
    background: #cf9f66; 
    width: 24px; 
    height: 12px; 
    border-radius: 10px; 
  }


.bux_accordion_wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    


    .bux_block_one {
        max-width: 610px;
    }
    .bux_block_two {
        max-width: 610px;
    }

    .bussines_accordion_wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .accordion_item summary div span:first-child {
        width: 106px;
    }
    .accordion_item summary div span:last-child {
        max-width: 400px;
    }
}

// HOW TO SECTION
.how_to_section {
    background-color: #131313;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    text-align: center;
    padding: 150px 0;
  

    .cards_component_wrapper {
        background: none;
    }
    .container {
        gap: 56px;
    }
    .standart_card {
        img {
            width: 32px;
            height: 32px;
        }
    }
}


.personal_consultation_section {
    display: flex;
    justify-content: center;
    background-color: #131313;
    background-image: url(img/personal/personal-pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50px;
    .personal_wrapper {
        display: flex;
        width: 100%;
        gap: 193px;
        align-items: center;
        .personal_one {
            display: flex;
            width: 100%;
            max-width: 560px;
            flex-direction: column;
            gap: 24px;

            p {
                color: white;
            }
            .personal_items_wrapper {
                display: flex;
                gap: 20px;

                .personal_item {
                    background-color: rgba(57, 57, 57, 1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    width: 100%;
                    max-width: 173px;
                    height: 40px;
                    border-radius: 8px;
                    span {
                        display: block;
                        background: #000;
                        color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        background-image: var(--gold-gradient);
                    }
                }

            }
            .personal_details {
                color: rgba(86, 86, 86, 1);
            }
        }
    }
    .personal_links {
        display: flex;
        gap: 12px;
    }
}

// FAQ
.faq_section {
    display: flex;
    justify-content: center;
    padding: 150px 0;
    text-align: center;

    .faq_accordion_wrapper {
        details {
            p {
                color: white;
                text-align: left;
            }
        }
    }

    .bussines_accordion_wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 40px;
    }
}


.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    // background-color: #000;
    padding: 150px 0;
  }
  
  .marquee-content {
    display: inline-block;
    
    animation: marquee 30s linear infinite;
  }
  
  .marquee-content img {
    display: inline-block;
    height: auto; /* сохраняем пропорции */
    max-width: none; /* отключаем ограничение ширины */
  }
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Сдвигаем на половину ширины контейнера */
  }



// Accodrion
.accordion_item {
    // background: linear-gradient(249.78deg, #2B2B2B 0%, #3B3B3B 100%);
    display: flex;
    justify-content: center;
    summary {
        div {
            display: flex;
            gap: 24px;
            align-items: center;
            color: white;
        }
    }

    p {
        padding-top: 24px;
    }
    summary::-webkit-details-marker,  summary::marker {
        content: "";
        display: none;
    }
}

details {
    background: var(--black-gradient);
    border-radius: 8px;
    // background: linear-gradient(249.78deg, #2B2B2B 0%, #3B3B3B 100%);
    background: linear-gradient(180deg, #2B2B2B 0%, #3B3B3B 100%);
    padding: 24px;
    width: 100%;
    max-width: 1030px;
   
}
summary {
    display: flex;
    justify-content: space-between;
    // background: linear-gradient(249.78deg, #2B2B2B 0%, #3B3B3B 100%);
    // padding: 24px;
    // width: 100%;
    // max-width: 1030px;
    // border-radius: 8px;
}
summary::after {
    content: "";
    color: var(--gold-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    // background: var(--gold-gradient);
    /* padding: 10px; */
    background-image: url(img/off.svg);
    border-radius: 8px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 
        opacity 300ms ease-out,
        transform 300ms ease-out;
}
[open] summary::after {
    // rotate: 45deg;
    // background: #000;
    // color: linear-gradient(249.78deg, #2B2B2B 0%, #3B3B3B 100%);
    background-image: url(img/on.svg);
}
summary::-webkit-details-marker,  summary::marker {
    content: "";
    display: none;
}

@media (max-width: 1024px) { 
    h1 {
        font-size: 64px;
        text-transform: uppercase;
      }
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 24px;
      }

      h4 {
        font-size: 16px;
      }
    
      .bold {
        font-size: 16px;
        line-height: 20px;
      }
      .normal {
        font-size: 16px;
      }
      .small {
        font-size: 14px;
      }
      .little {
        font-size: 14px;
      }
    
      .container {
        width: 830px;
    }

    .btn  {
        font-size: 18px;
    }

    .hero_block {
        .container {
            position: relative;
            justify-content: center;
        }

        .hero_img_mob {
            display: flex;
            flex-direction: column;
            transform: translateY(-70px);
        }
      
        .hero_one {
            align-items: center;

            h1 {
                text-align: center;
            }
            p {
                transform: translateY(-70px);
                text-align: center;
            }

            .hero_btns {
                transform: translateY(-70px);
                flex-direction: column;
                padding-top: 0px;
                gap: 12px;
                width: 100%;
                align-items: center;
            }
        }
        .hero_two {
          display: none;
        }

    }
    .hero_bottom {
        display: none;
    }
    .hero_bottom2 {
        transform: translateY(-13px);
        position: relative;
        z-index: 2;
        height: 1px;
    }
    .hero_img_mob {
        background-image: url(img/hero/Ellipse.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        img {
            width: 100%;
        }
    }
    .about_wrapper {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        .about_text_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            .pros_wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 27px;
                padding-top: 56px;
                padding-bottom: 32px;
            }
            .about_btn_wrapper {
                flex-direction: column;
                gap: 12px;
                width: 100%;
                padding-top: 32px;
            }
        }
    }

    .info_section .info_bottom {
        padding-top: 32px;
        gap: 32px;
        flex-direction: column;
        align-items: center;
    }
    .info_section .info_bottom .info_text_wrapper {
        gap: 12px;
    }

    .bussinnes_section .accordion_item {
        width: 615px;
    }
    .courses {
        padding-top: 0px;
        padding-bottom: 100px;
    }
    .marquee {
        padding: 100px 0;
    }
    .personal_consultation_section .personal_wrapper {
        flex-direction: column;
    }  
    .how_to_section {
        padding: 100px 0;
    }  

    .tarif_section .tarif_cards_wrapper .tarif_card {
        height: auto;
    }
      
}

@media (max-width: 900px) { 
    .btn {
        max-width: 100%;
    }
    .standart_card {
        height: 200px;
        padding: 40px 24px;
        gap: 12px;
    }
    .tarif_section {
        gap: 100px;
    }    

    .info_section .info_bottom img {
        max-width: 610px;
        width: 100%;
        height: 100%;
    }

    .tarif_cards_wrapper {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 60px;
        gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
      }

      .tarif_card {
        width: calc(100% - 110px);
        max-width: none;
        scroll-snap-align: center;
      }

      .slider-nav {
        display: flex;
      }
      .moved {
        img {
            width: 100%;
        }
      }
      .insta_btn {
        max-width: 100%;
      }
      .bussinnes_section .accordion_item {
        width: 100%;
        }
      details {
        max-width: 100%;
        padding: 12px;
      }
      summary {
        align-items: center;
    }
    .personal_two {
        img{
            width: 100%;
        }
    }
    .personal_consultation_section .personal_wrapper .personal_one .personal_items_wrapper {
        flex-direction: column;
    }    
    .personal_consultation_section .personal_wrapper .personal_one .personal_items_wrapper .personal_item {
        max-width: 100%;
    }
    .personal_consultation_section .personal_links{
    flex-direction: column;
    }
    .faq_section {
        padding: 100px 0;
    }
}
@media (max-width: 768px) {
    .container {
        width: 700px;
    }
    .tarif_section .tarif_cards_wrapper .tarif_card {
        width: calc(100% - 60px);
        // max-width: none;
        scroll-snap-align: center;
    }
}
@media (max-width: 500px) {
    
    .container {
        max-width: 343px;
    }
    .about_wrapper .about_text_block .pros_wrapper .pros_block .pros_item {
        max-width: 100%;
    }
    .accordion_item summary div {
        flex-direction: column;
        gap: 4px;
        align-items: self-start;
        color: white;
    }
    summary div span:last-child{
        font-size: 14px;
        max-width: 292px;
        text-align: left;
    }
    .info_section .info_top {
        text-align: center;
    }
    .tarif_section .container .heading {
        text-align: center;
    }
    .bussinnes_section .container h2 {
        text-align: center;
    }
    .bux_accordion_wrapper .accordion_item summary div span:last-child {
        max-width: 287px;
    }
    .personal_consultation_section .personal_wrapper {
        gap: 23px;
    }
    .personal_consultation_section {
        background-size: cover;
    }
    
    .tarif_section .tarif_cards_wrapper .tarif_card {
        width: calc(100% - 44px);
        scroll-snap-align: center;
        padding: 20px;
        gap: 24px;
    }
    .tarif_section .tarif_cards_wrapper .tarif_card .tarif_card_bottom {
        gap: 32px;
        padding-top: 36px;
    }
    .tarif_section .tarif_cards_wrapper .tarif_standart_card ul {
        font-size: 14px;
        gap: 12px;
    }
    .tarif_section .tarif_cards_wrapper .tarif_golden_card ul {
        font-size: 14px;
        gap: 12px;
    }
    .morecards {
        .tarif_card {
            max-width: 320px;
            width: 343px;
            scroll-snap-align: center;
        }
    }

    .tarif_section {
        .eclipce_desk {
            display: none;
        }
        .eclipce_mob {
            display: block;
        }
    }
    
    // .tarif_section {
    //     overflow-x: visible; /* ✅ Убрать clip, иначе соседние карточки не видны */
    //     align-items: stretch; /* убираем центрирование, чтобы ширина работала корректно */
    //   }
    
    //   .slider-container {
    //     overflow: visible;
    //   }
    
    //   .tarif_cards_wrapper {
    //     padding: 0 24px; /* немного отступов по краям */
    //     overflow-x: auto;
    //     scroll-snap-type: x mandatory;
    //     -webkit-overflow-scrolling: touch;
    //   }
    
    //   .tarif_cards_wrapper::-webkit-scrollbar {
    //     display: none;
    //   }
    
    //   .tarif_card {
    //     flex: 0 0 auto;
    //     width: calc(100% - 80px); /* ✅ карточки меньше контейнера */
    //     margin: 0 10px;
    //     scroll-snap-align: center; /* ✅ выравнивание по центру */
    //   }

    //   .morecards .tarif_card {
    //     flex: 0 0 auto;
    //     width: calc(100% - 80px); /* ✅ карточки меньше контейнера */
    //     margin: 0 10px;
    //     scroll-snap-align: center; /* ✅ выравнивание по центру */
    //   }
    
}