// Fonts 
@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1,h2,h3,h4,h5{
    font-family: "Oswald";
  }


//   Font sizes

  h1 {
    font-size: 140px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 400;
  }
  h2 {
    font-size: 56px;
    font-weight: 400;
  }
  h3 {
    font-size: 32px;
    font-weight: 400;
  }
  h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Roboto";
  }

  .bold {
    font-size: 24px;
    line-height: 30px;
  }
  .normal {
    font-size: 24px;
  }
  .small {
    font-size: 18px;
  }
  .little {
    font-size: 16px;
  }

body {
    font-family: "Roboto";
    position: relative;
    background-color: #131313;
}


// Colors
:root {
    --gold-gradient: linear-gradient(89.69deg, #CF9F66 5.29%, #FFDC9C 46.7%, #946331 98.34%);
    --second: #191919
    --black-gradient: linear-gradient(180deg, #2B2B2B 0%, #3B3B3B 100%);

}

.gold_text {
    background: var(--gold-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
// Buttons
.buttons {
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 20px;
}


.btn {
    font-family: "Oswald";
    max-width: 320px;
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    display: block;
    text-align: center;
    align-content: center;
    text-decoration: none;

    position: relative;
    border: none; 
    outline: none;
    cursor: pointer;
}

.personal {
    font-family: "Oswald";
    max-width: 552px;
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    display: block;
    text-align: center;
    align-content: center;
    text-decoration: none;

    position: relative;
    border: none; 
    outline: none;
    cursor: pointer;
}


.golden {
    background: var(--gold-gradient);
    color: rgba(25, 25, 25, 1);
}

.golden::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease-out;
    pointer-events: none; 
}
.golden:hover::after { 
    border-color: #000;
}

.matte {
    color: white;
    background: linear-gradient(180deg, #2B2B2B 0%, #3B3B3B 100%);
}

.matte::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease-out;
    pointer-events: none; 
}
.matte:hover::after { 
    border-color: #000;
}
.matte:active {
    background: rgba(25, 25, 25, 1);
    // transition: background 0.3s ease-out;
}
.combi {
    display: inline-block;
    // background: #000; 
    position: relative;
 
    
}
.combi::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px; 
    padding: 2px; 
    background:var(--gold-gradient); 
    mask: 
        linear-gradient(#000 0 0) content-box, 
        linear-gradient(#000 0 0);
    mask-composite: exclude;
  }

  .combi span {
    display: block;
    background: #000; 
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--gold-gradient);
  }

  .combi:hover, .combi:active {
    background-image: var(--gold-gradient);
  }
  .combi:hover span, .combi:active span {
    color: rgba(25, 25, 25, 1);
  }


//Insta btn 
.insta_btn {
    max-width: 295px;
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    display: block;
    text-align: center;
    align-content: center;
    text-decoration: none;
    position: relative;
    border: none; 
    outline: none;
    cursor: pointer;
    background-color: rgba(57, 57, 57, 1);
}

.insta_btn span {
    display: block;
    background: #000; 
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--gold-gradient);
}

.insta_btn:hover {
    background: var(--gold-gradient);
}
.insta_btn:hover span {
    color: rgba(25, 25, 25, 1);
}


// Containers
.container {
    display: flex;
    flex-direction: column;
    width: 1240px;
}



.site-header {
    background-color: transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: opacity 0.3s ease;
}

.logo:hover {
    opacity: 0.8;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

/* Десктопное меню */
.desktop-navigation {
    display: flex;
}

.primary-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.primary-menu > li {
    position: relative;
    margin-left: 36px;
}

.primary-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    padding: 5px 0;
    font-size: 18px;
}

.primary-menu a:hover {
    background: var(--gold-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Выпадающее меню */
.dropdown {
    position: relative;
}

.dropdown > a::after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    width: 14px;
    height: 8px;
    background: url(img/decoration/warrow.svg);
    transition: all 0.3s ease;
    vertical-align: middle;
}

.dropdown:hover > a::after {
    border-top-color: #0066cc;
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    min-width: 220px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 0;
    z-index: 1;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content li {
    padding: 8px 0px;
    transition: background-color 0.3s ease;
}

.dropdown-content a {
    color: white;
    display: block;
    transition: none;
}

.dropdown-content li:hover {
    background-color: transparent;
}

.dropdown-content a:hover {
    color: #0066cc;
}

/* Мобильное меню */
.mobile-menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
}

.mobile-menu-toggle:hover {
    transform: scale(1.1);
}

.hamburger {
    background-image: url(img/decoration/ham.svg);
    display: block;
    width: 24px;
    height: 16px;
    // background-color: #333;
    position: relative;
    transition: all 0.3s ease;
}



/* Попап мобильного меню */
.mobile-menu-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mobile-menu-popup.active {
    display: flex;
    opacity: 1;
}

.mobile-menu-container {
    width: 90%;
    max-width: 400px;
    text-align: center;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.mobile-menu-popup.active .mobile-menu-container {
    transform: translateY(0);
}

.mobile-menu-close {
    position: absolute;
    top: -237px;
    right: 24px;
    width: 32px;
    height: 32px;
    background: url(img/decoration/cross.svg);
    border: none;
    // color: #fff;
    // font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.mobile-menu-close:hover {
    transform: rotate(90deg);
}

.mobile-menu {
    list-style: none;
    margin-bottom: 30px;
}

.mobile-menu li {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.mobile-menu li:hover {
    transform: translateX(5px);
}

.mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.mobile-menu a:hover {
    background: var(--gold-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile-dropdown-content {
    display: none;
    list-style: none;
    margin-top: 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.mobile-dropdown.active .mobile-dropdown-content {
    display: flex;
    gap: 18px;
    max-height: 500px;
}

.mobile-dropdown-content li {
    margin-bottom: 10px;
}

.mobile-dropdown-content a {
    font-size: 16px;
    color: #ccc;
}

.mobile-dropdown-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: color 0.3s ease;
}

.mobile-dropdown-toggle:hover {
    background: var(--gold-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile-dropdown-toggle::after {
    content: '';
    background: url(img/decoration/warrow.svg);
    display: inline-block;
    margin-left: 8px;
    width: 14px;
    height: 8px;
    transition: all 0.3s ease;
}

.mobile-dropdown.active .mobile-dropdown-toggle::after {
    transform: rotate(180deg);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    color: #4dabf7;
    transform: translateY(-3px);
}

/* Адаптивность */
@media (max-width: 992px) {
    .desktop-navigation {
        display: none;
    }
    
    .mobile-menu-toggle {
        display: block;
    }
}

// Hero Section
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    margin-top: -140px;
}

.hero_block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/hero/HeroI2.png);
    position: relative;
    // padding-top: 100px;

    .container {
        flex-direction: row;
        align-items: center;
    }
}
.hero_one {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 609px;
    gap: 24px;
    
    .hero_img_mob {
        display: none;
    }

    h1 {
        background: var(--gold-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    p {
        color: white;
        max-width: 483px;
        font-family: "Oswald";
    }
    .hero_btns {
        padding-top: 32px;
        display: flex;
        gap: 24px;
    }
}
// .hero_two {
//     width: 100%;
//     max-width: 661px;
//     height: 708px;
//     background-image: url(img/hero/Ellipse.png);
// }

.hero_two {
    background-image: url(img/hero/Ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 140px; 

    .hero_bottom {
        display: none;
    }
}

.hero_two img {
    position: relative;
    z-index: 1; 
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.hero_bottom {
    transform: translateY(-38px);
    position: relative;
    z-index: 2;

    img {
        width: 100%;
        height: 100px;
    }
   
}


// CARDS COMPONENT
.courses {
    padding-top: 50px;
    padding-bottom: 150px;
    display: flex;
    width: 100%;
    // background-color: #000;
    justify-content: center;

    .container {
        justify-content: center;
        align-items: center;
        gap: 56px;
    }
}
.cards_component_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1240px;
    gap: 20px;
    // background-color: #000;
}

.standart_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 232px;
    background: linear-gradient(249.78deg, #2B2B2B 0%, #3B3B3B 100%);
    border-radius: 16px;
    padding: 56px 24px;
    gap: 16px;

    h3 {
        background: var(--gold-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: white;
    }
}


// TEST BLURE
.blure1 {
    position: absolute;
    width: 100%;
    top: 876px;
    z-index: 0;

    img {
        width: 100%;
    }
}

.blur {
    position: absolute;
    width: 100%;
    img {
        width: 100%;
    }
}

// ABOUT SECTION
.about_section {
    // background-color: #000;
    justify-content: center;
    display: flex;
    // background-image: url(img/EllipseRight.png);
}
.about_wrapper {
    display: flex;
    gap: 87px;
    position: relative;

    .about_text_block {
        width: 100%;
        max-width: 648px;
        

        h2 {
            line-height: 70px;
        }
        .pros_wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 27px;
            padding-top: 56px;
            padding-bottom: 109px;
            
            .pros_block {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .pros_item {
                    display: flex;
                    gap: 16px;
                    width: 100%;
                    max-width: 288px;
                    height: 44px;

                    img {
                        width: 57px;
                        height: 44px;
                    }
                    p {
                        color: white;
                    }
                }
            }
        }
        .about_btn_wrapper {
            display: flex;
            gap: 20px;
            align-items: center;
            p {
                max-width: 260px;
                color: rgba(86, 86, 86, 1);
            }
        }

    }
    .about_photo_block {
        width: 100%;
        max-width: 505px;
    }
}


// INFO SECTION
.info_section{
    // background-color: #000;
    display: flex;
    justify-content: center;
    .info_top {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            padding-bottom: 16px
        }
        h4 {
            color: white;
            font-weight: 400;
            text-align: center;
        }
    }

    .info_bottom {
        padding-top: 56px;
        display: flex;
        gap: 20px;
        position: relative;
        z-index: 3;

        img {
            max-width: 610px;
            width: 100%;
            height: 420px;
        }

        .info_text_wrapper {
            display: flex;
            flex-direction: column;
            max-width: 610px;
            width: 100%;
            gap: 17px;

            p {
                color: white;
            }
        }
    }
}



// ALL COURSES
.all_courses_wrapper {
    display: flex;
    flex-direction: column;
    background-color: Black;
    // height: 600px;
    border-radius: 50vw 50vw 0 0;
    padding-top: 256px;
    margin-top: -156px;
    position: relative;
}

// BUSSINES COURSE
.bussinnes_section {
    // padding-top: 150px;
    display: flex;
    justify-content: center;
    // background-color: #000;
    

    .container {
        align-items: center;

        h2 {
            padding-bottom: 24px;
        }
       
    }

    .accordion_item {
        width: 1030px;
    }
    p {
        color: white;
    }

    .bussines_accordion_wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 56px;
        position: relative;
        z-index: 2;
    }
}


// Tarif Section


// .twocards-block {
//     .tarif_cards_wrapper {
//         .tarif_card {
//             max-width: 505px!important;
//             width: 100%;
//         }
//     }
// }

// .testtar {
//     background-color: black;
//     border-radius: 0% 0% 2% 2%;
//     padding-bottom: 100px;
// }



// .tarif_section {
//     width: 100%;
//     padding-top: 150px;
//     background-color: #000;
//     display: flex;
//     flex-direction: column;
//     gap: 150px;
//     position: relative;
//     color: white;
//     justify-content: center;
//     align-items: center;
//     background-repeat: no-repeat;
//     overflow-x: clip;

//     .eclipce_bg {
//         position: absolute;
//         z-index: 1;
//         top: -35px;
//     }

//     .eclipce_mob {
//         display: none;
//     }


//     .container {
//         align-items: center;
//         justify-content: center;
//         position: relative;
//         z-index: 2;

//         .heading {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             padding-bottom: 56px;

//             h2 {
//                 padding-bottom: 24px;
//             }
//         }
//     }

//     .slider-container {
//         display: flex;
//         flex-direction: column;
//     }

//     .tarif_cards_wrapper {
//         display: flex;
//         padding-top: 56px;
//         gap: 20px;
//         position: relative;
//         overflow: hidden;
//         overflow-x: auto;
//         scroll-snap-type: x mandatory;
//         gap: 16px;
//         scrollbar-width: none;
//         -ms-overflow-style: none; 
       
//         .tarif_card {
//             width: 100%;
//             max-width: 400px;
//             height: 700px;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             gap: 32px;
//             padding: 40px;
//             border-radius: 16px;
//             flex-shrink: 0;
//             scroll-snap-align: start;

//             .tarif_card_top {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//             }

//             ul {
//                 display: flex;
//                 flex-direction: column;
//                 gap: 16px;
//             }
//             .tarif_card_bottom {
//                 display: flex;
//                 flex-direction: column;
//                 gap: 44px;
//                 padding-top: 36px;
//                 width: 100%;
//                 align-items: center;

//                 h4 {
//                     font-weight: 400;
//                 }
//                 div {
//                     text-align: center;
//                 }
//                 .btn {
//                     max-width: 100%;
//                 }
//             }
//         }
//         .tarif_standart_card {
//             color: rgba(255, 255, 255, 1);
//             background: linear-gradient(198.78deg, #2A2A2A -1.46%, #3E3E3E 107.55%), radial-gradient(circle at top left, #CF9F66,#946331);
//             border: double 1px transparent;
//             background-origin: border-box;
//             background-clip: padding-box, border-box;

//             ul {
//                 list-style: none;

//                 li {
//                     position: relative; 
//                     padding-left: 22px; 
//                   }

//                   .cons {
//                     text-decoration: line-through;
//                     color: rgba(109, 109, 109, 1);
//                   }

//                 li::before {
//                     content: ""; 
//                     position: absolute;
//                     left: 0;
//                     top: 0px; 
//                     width: 16px; 
//                     height: 16px; 
//                     background-image: url('img/decoration/golden_bullet.svg');
//                     background-size: contain; 
//                     background-repeat: no-repeat;
//                   }
//                 li+.cons::before {
//                     background-image: url('img/standart_cons.svg');
//                 }  
//             }
//         }

//         .tarif_golden_card {
//             color: #191919;
//             background: var(--gold-gradient);


//             ul {
//                 list-style: none;

//                 li {
//                     position: relative; 
//                     padding-left: 22px; 
//                     color: #191919;
//                   }

//                 li::before {
//                     content: ""; 
//                     position: absolute;
//                     left: 0;
//                     top: 0px; 
//                     width: 16px; 
//                     height: 16px; 
//                     background-image: url('img/decoration/white_bullet.svg');
//                     background-size: contain; 
//                     background-repeat: no-repeat;
//                   }

//                   .cons {
//                     text-decoration: line-through;
//                     color: white;
//                   }

//                   li+.cons::before {
//                     background-image: url('img/golden_cons.svg');
//                 }  
//             }
//             .normal {
//                 color: white;
//             }

//             .tarif_card_bottom {
//                 h4 {
//                     color: white;
//                     font-weight: 400;
//                 }
//             }
//         }
//     }
// }
// .slider-nav {
//     display: none;
//     justify-content: center;
//     align-items: center;
//     gap: 20px;
//     padding: 20px 0;
//   }

//   .slider-prev,
//   .slider-next {
//     background: none;
//     border: none;
//     font-size: 24px;
//     cursor: pointer;
//     color: #cf9f66;
//   }

//   .slider-dots {
//     display: flex;
//     gap: 10px;
//   }


// .slider-dot {
//     width: 12px;
//     height: 12px;
//     border-radius: 50%;
//     background: linear-gradient(180deg, #2B2B2B 0%, #3B3B3B 100%);
//     cursor: pointer;
//     transition: 
//       width 0.3s ease,
//       height 0.3s ease,
//       background 0.3s ease,
//       border-radius 0.3s ease; 
//   }
  
//   .slider-dot.active {
//     background: #cf9f66; 
//     width: 24px; 
//     height: 12px; 
//     border-radius: 10px; 
//   }

.eclipce_bg {
    position: absolute;
    z-index: 1;
    top: -35px;
}
.eclipce_mob {
    display: none;
}

.tarif_section {
  display: flex;
  padding-top: 150px;
  flex-direction: column;
  background-color: #000;
  color: white;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tarif_section .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
// .tarif_section .container:last-child {
//     padding-top: 150px;
//     gap: 56px;

//     h2 {
//         padding-bottom: 24px;
//     }
// }
.slider-container {
  display: flex;
  flex-direction: column;
}
.tarif_cards_wrapper {
  display: flex;
  padding-top: 56px;
  gap: 20px;
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для IE */
}

.progwrapper {
     padding-top: 150px;
        gap: 56px;

        h2 {
       padding-bottom: 24px;
     }
    h2, p {
        max-width: 918px;
        text-align: center;
    }
    .bux_accordion_wrapper {
        justify-content: center;
    }
    .accordion_item p {
        text-align: left;
    }

}
.twocards .tarif_card {
    width: 505px;
}
.tarif_card {
  width: 400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 40px;
  border-radius: 16px;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.tarif_card_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tarif_card_bottom {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-top: 36px;
  width: 100%;
  align-items: center;
}

.tarif_card_bottom h4 {
  font-weight: 400;
}

.tarif_card_bottom div {
  text-align: center;
}

.tarif_standart_card {
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(198.78deg, #2a2a2a -1.46%, #3e3e3e 107.55%),
    radial-gradient(circle at top left, #cf9f66, #946331);
  border: double 1px transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.tarif_standart_card ul {
  list-style: none;
}

.tarif_standart_card li {
  position: relative;
  padding-left: 22px;
}

.tarif_standart_card li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 16px;
  height: 16px;
  background-image: url("img/decoration/golden_bullet.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.tarif_golden_card {
  color: var(--second);
  background: var(--gold-gradient);
}

.tarif_golden_card ul {
  list-style: none;
}

.tarif_golden_card li {
  position: relative;
  padding-left: 22px;
}

.tarif_golden_card li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 16px;
  height: 16px;
  background-image: url("img/decoration/white_bullet.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.tarif_section .tarif_cards_wrapper .tarif_standart_card ul .cons {
    color: rgb(109, 109, 109);
    text-decoration: line-through;
}
.tarif_section .tarif_cards_wrapper .tarif_standart_card ul li + .cons::before {
    background-image: url(img/standart_cons.svg);
}

.tarif_section .tarif_cards_wrapper .tarif_golden_card ul .cons {
    text-decoration: line-through;
    color: white;
}
.tarif_section .tarif_cards_wrapper .tarif_golden_card ul li + .cons::before{
    background-image: url(img/golden_cons.svg);
}

.tarif_golden_card .normal {
  color: white;
}

.tarif_golden_card .tarif_card_bottom h4 {
  color: white;
  font-weight: 400;
}

.tarif_golden_card li .cons {
  text-decoration: line-through;
  color: white;
}

.tarif_golden_card li + .cons::before {
  background-image: url("img/golden_cons.svg");
}

.last {
    background-color: black;
    border-radius: 0% 0% 2% 2%;
    padding-bottom: 100px;
}

/* Навигация слайдера */
.slider-nav {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.slider-prev,
.slider-next {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #cf9f66;
}

.slider-dots {
  display: flex;
  gap: 10px;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #2b2b2b 0%, #3b3b3b 100%);
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease, background 0.3s ease,
    border-radius 0.3s ease;
}

.slider-dot.active {
  background: #cf9f66;
  width: 24px;
  height: 12px;
  border-radius: 10px;
}


.bux_accordion_wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    


    .bux_block_one {
        max-width: 610px;
    }
    .bux_block_two {
        max-width: 610px;
    }

    .bussines_accordion_wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .accordion_item summary div span:first-child {
        width: max-content;
        text-wrap: nowrap;
    }
    .accordion_item summary div span:last-child {
        max-width: 400px;
    }
}

// HOW TO SECTION
.how_to_section {
    background-color: #131313;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    text-align: center;
    padding: 150px 0;
  

    .cards_component_wrapper {
        background: none;
    }
    .container {
        gap: 56px;
    }
    .standart_card {
        img {
            width: 32px;
            height: 32px;
        }
    }
}


.personal_consultation_section {
    display: flex;
    justify-content: center;
    background-color: #131313;
    background-image: url(img/personal/personal-pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50px;
    .personal_wrapper {
        display: flex;
        width: 100%;
        gap: 193px;
        align-items: center;
        .personal_one {
            display: flex;
            width: 100%;
            max-width: 560px;
            flex-direction: column;
            gap: 24px;

            p {
                color: white;
            }
            .personal_items_wrapper {
                display: flex;
                gap: 20px;

                .personal_item {
                    background-color: rgba(57, 57, 57, 1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    width: 100%;
                    max-width: 173px;
                    height: 40px;
                    border-radius: 8px;
                    span {
                        display: block;
                        background: #000;
                        color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        background-image: var(--gold-gradient);
                    }
                }

            }
            .personal_details {
                color: rgba(86, 86, 86, 1);
            }
        }
    }
    .personal_links {
        display: flex;
        gap: 12px;
    }
}

// FAQ
.faq_section {
    display: flex;
    justify-content: center;
    padding: 150px 0;
    text-align: center;

    .faq_accordion_wrapper {
        details {
            p {
                color: white;
                text-align: left;
            }
        }
    }

    .bussines_accordion_wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 40px;
    }
}


.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    // background-color: #000;
    padding: 150px 0;
  }
  
  .marquee-content {
    display: inline-block;
    
    animation: marquee 30s linear infinite;
  }
  
  .marquee-content img {
    display: inline-block;
    height: auto; /* сохраняем пропорции */
    max-width: none; /* отключаем ограничение ширины */
  }
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Сдвигаем на половину ширины контейнера */
  }



// Accodrion
.accordion_item {
    // background: linear-gradient(249.78deg, #2B2B2B 0%, #3B3B3B 100%);
    display: flex;
    justify-content: center;
    summary {
        div {
            display: flex;
            gap: 24px;
            align-items: center;
            color: white;
        }
    }

    p {
        padding-top: 24px;
    }
    summary::-webkit-details-marker,  summary::marker {
        content: "";
        display: none;
    }
}

:root {
    interpolate-size: allow-keywords;
}

details {
    background: var(--black-gradient);
    border-radius: 8px;
    background: linear-gradient(180deg, #2B2B2B 0%, #3B3B3B 100%);
    padding: 24px;
    width: 100%;
    max-width: 1030px;
    overflow: hidden;
}
details::details-content {
    color: hsl(0 0% 78%);
    font-size: 1rem;
    block-size: 0;
    transition: block-size 1s, content-visibility 1s;
    transition-behavior: allow-discrete;
  }
  details:open::details-content {
    block-size: auto;
  }
summary {
    display: flex;
    justify-content: space-between;
    // background: linear-gradient(249.78deg, #2B2B2B 0%, #3B3B3B 100%);
    // padding: 24px;
    // width: 100%;
    // max-width: 1030px;
    // border-radius: 8px;
}
summary::after {
    content: "";
    color: var(--gold-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    // background: var(--gold-gradient);
    /* padding: 10px; */
    background-image: url(img/off.svg);
    border-radius: 8px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 
        opacity 300ms ease-out,
        transform 300ms ease-out;
}
[open] summary::after {
    // rotate: 45deg;
    // background: #000;
    // color: linear-gradient(249.78deg, #2B2B2B 0%, #3B3B3B 100%);
    background-image: url(img/on.svg);
}
summary::-webkit-details-marker,  summary::marker {
    content: "";
    display: none;
}

.form_section {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    .heading {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 60px;
    }
    p {
        color: white;
    }
    .form_wrapper {
        display: flex;
        justify-content: center;
    }
    #simple-ajax-form {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 20px;

        #simple-ajax-form-container {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 20px;
        
        }
        input {
            background: linear-gradient(198.78deg, #2a2a2a -1.46%, #3e3e3e 107.55%), radial-gradient(circle at top left, #cf9f66, #946331);
            border: double 1px transparent;
            background-origin: border-box;
            background-clip: padding-box, border-box;
            border-radius: 8px;
            padding: 20px 18px;
            font-size: 16px;
        }
        input::placeholder {
            color: white;
          }
    }
}

.footer {
    background: url(img/footerbg.svg);
    padding: 60px 0 55px 0;
    margin-top: 170px;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-logo {
    grid-column: 1;
    grid-row: 1;
  }
  
  .logo-img {
    max-width: 150px;
    height: auto;
  }
  
  .footer-menu {
    grid-column: 2;
    grid-row: 1;
  }
  
  .footer-menu ul {
    list-style: none;
    padding: 0;
  }
  
//   .footer-menu li {
//     margin-bottom: 10px;
//   }
  

 .footer-social a {
    max-width: 48px;
    width: 40px;
 }  
.tel-icon {
    background: url(img/t.svg) center/contain no-repeat;;
    transition: background-image 0.3s ease;
    height: 40px;
    width: 40px;
}
.tel-icon:hover {
    background: url(img/t2.svg);
    background-size: contain;
}
.i-icon {
    background: url(img/i.svg);
    height: 40px;
    width: 40px;
}
.i-icon:hover {
    background: url(img/i2.svg);
    background-size: contain;
}
.y-icon {
    background: url(img/u.svg);
    height: 40px;
    width: 40px;
}
.y-icon:hover {
    background: url(img/u2.svg);
    background-size: contain;
}
.tik-ikon {
    background: url(img/tik.svg);
    height: 40px;
    width: 40px;
}
.tik-ikon:hover {
    background: url(img/tik2.svg);
    background-size: contain;
}
.f-icon {
    background: url(img/f.svg);
    height: 40px;
    width: 40px;
}
.f-icon:hover {
    background: url(img/f2.svg);
    background-size: contain;
}


  .footer-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-menu a:hover {
    background: var(--gold-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .footer-contacts {
    grid-column: 3;
    grid-row: 1;
  }
  
  .footer-contacts p {
    margin: 0 0 10px 0;
  }
  
  .footer-social {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    gap: 15px;
  }
  
  .footer-social a {
    color: #333;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .footer-social a:hover {
    background: var(--gold-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .footer-copyright {
    grid-column: 1;
    grid-row: 2;
    align-self: end;
  }
  .footer-copyright p {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .footer-legal {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
  }
  
  .footer-policy {
    grid-column: 3;
    grid-row: 2;
    align-self: end;
  }
  
  .footer-empty {
    grid-column: 4;
    grid-row: 2;
  }
  
  @media (max-width: 768px) {
    .footer-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
    }
    
    .footer-logo {
      grid-column: 1 / span 2;
      grid-row: 1;
      text-align: center;
    }
    
    .footer-menu {
      grid-column: 1;
      grid-row: 2;
    }
    
    .footer-contacts {
      grid-column: 2;
      grid-row: 2;
    }
    
    .footer-social {
      grid-column: 1 / span 2;
      grid-row: 3;
      justify-content: center;
    }
    
    .footer-copyright {
      grid-column: 1;
      grid-row: 4;
      text-align: center;
    }
    
    .footer-legal {
      grid-column: 1;
      grid-row: 5;
      text-align: center;
    }
    
    .footer-policy {
      grid-column: 2;
      grid-row: 5;
      text-align: center;
    }
    
    .footer-empty {
      display: none;
    }
    
  }


@media (min-width: 1441px) {
    
   .eclipce_bg {
    top: 138px;
    
    .eclipce_desk {
        display: none;
    }
   }
}
@media (max-width: 1440px) {
    
    .eclipce_bg {
     
     .bigscreen {
        display: none;
     }
     .eclipce_desk {
         display: block;
     }
    }
 }

@media (max-width: 1100px) {
    .twocards .tarif_card {
        width: 400px;
    }
}

@media (max-width: 1024px) { 
    h1 {
        font-size: 64px;
        text-transform: uppercase;
      }
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 24px;
      }

      h4 {
        font-size: 16px;
      }
    
      .bold {
        font-size: 16px;
        line-height: 20px;
      }
      .normal {
        font-size: 16px;
      }
      .small {
        font-size: 14px;
      }
      .little {
        font-size: 14px;
      }
    
      .container {
        width: 830px;
    }

    .btn  {
        font-size: 18px;
    }

    .hero_block {
        .container {
            position: relative;
            justify-content: center;
        }

        .hero_img_mob {
            display: flex;
            flex-direction: column;
            transform: translateY(-70px);
        }
      
        .hero_one {
            align-items: center;

            h1 {
                text-align: center;
            }
            p {
                transform: translateY(-70px);
                text-align: center;
            }

            .hero_btns {
                transform: translateY(-70px);
                flex-direction: column;
                padding-top: 0px;
                gap: 12px;
                width: 100%;
                align-items: center;
            }
        }
        .hero_two {
          display: none;
        }

    }
    .hero_bottom {
        display: none;
    }
    .hero_bottom2 {
        transform: translateY(-13px);
        position: relative;
        z-index: 2;
        height: 1px;
    }
    .hero_img_mob {
        background-image: url(img/hero/Ellipse.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        img {
            width: 100%;
        }
    }
    .about_wrapper {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        .about_text_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            .pros_wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 27px;
                padding-top: 32px;
                padding-bottom: 32px;
            }
            .about_btn_wrapper {
                flex-direction: column;
                gap: 12px;
                width: 100%;
                padding-top: 32px;
            }
        }
    }
    .about_wrapper .about_text_block .pros_wrapper .pros_block {
        gap: 20px;
    }
    .info_section .info_bottom {
        padding-top: 32px;
        gap: 32px;
        flex-direction: column;
        align-items: center;
    }
    .info_section .info_bottom .info_text_wrapper {
        gap: 12px;
    }

    .bussinnes_section .accordion_item {
        width: 615px;
    }
    .courses {
        padding-top: 0px;
        padding-bottom: 100px;
    }
    .marquee {
        padding: 100px 0;
    }
    .personal_consultation_section .personal_wrapper {
        flex-direction: column;
    }  
    .how_to_section {
        padding: 100px 0;
    }  

    .tarif_section .tarif_cards_wrapper .tarif_card {
        height: auto;
    }
      
}
@media (max-width: 1100px) {
    .twocards-block {
        .tarif_cards_wrapper {
            .tarif_card {
                max-width: 400px!important;
                width: 100%;
            }
        }
    }
}

@media (max-width: 900px) { 
    .btn {
        max-width: 100%;
    }
    .standart_card {
        height: 200px;
        padding: 40px 24px;
        gap: 12px;
    }
    .tarif_section {
        gap: 100px;
    }    

    .info_section .info_bottom img {
        max-width: 610px;
        width: 100%;
        height: 100%;
    }
    // .tarif_section .container {
    //     width: auto;
    //     max-width: fit-content;
    // }
    // .tarif_section .tarif_cards_wrapper {
    //     display: flex;
    //     overflow-x: auto;
    //     scroll-snap-type: x mandatory;
    //     scroll-behavior: smooth;
    //     -webkit-overflow-scrolling: touch;
    //     padding-bottom: 60px;
    //     gap: 15px;
    //     padding-left: 15px;
    //     padding-right: 15px;
    //   }

    //   .tarif_card {
    //     width: calc(100% - 110px);
    //     max-width: none;
    //     scroll-snap-align: center;
    //   }


}
@media (max-width: 768px) {
    .container {
        width: 700px;
    }
    // .tarif_section .tarif_cards_wrapper .tarif_card {
    //     width: calc(100% - 60px);
    //     scroll-snap-align: center;
    // }
}
@media (max-width: 500px) {

    .tarif_card {
        width: calc(100% - 25px);
        max-width: none;
        scroll-snap-align: center;
        height: auto;
        padding: 20px;
        gap: 24px;
    }

    
    .container {
        max-width: 343px;
    }
    .about_wrapper .about_text_block .pros_wrapper .pros_block .pros_item {
        max-width: 100%;
    }
    .accordion_item summary div {
        flex-direction: column;
        gap: 4px;
        align-items: self-start;
        color: white;
    }
    summary div span:last-child{
        font-size: 14px;
        max-width: 292px;
        text-align: left;
    }
    .info_section .info_top {
        text-align: center;
    }
    .tarif_section .container .heading {
        text-align: center;
    }
    .bussinnes_section .container h2 {
        text-align: center;
    }
    .bux_accordion_wrapper .accordion_item summary div span:last-child {
        max-width: 287px;
    }
    .personal_consultation_section .personal_wrapper {
        gap: 23px;
    }
    .personal_consultation_section {
        background-size: cover;
    }
    .slider-nav {
        display: flex;
      }
      .moved {
        img {
            width: 100%;
        }
      }
      .insta_btn {
        max-width: 100%;
      }
      .bussinnes_section .accordion_item {
        width: 100%;
        }
      details {
        max-width: 100%;
        padding: 12px;
      }
      summary {
        align-items: center;
    }
    .personal_two {
        img{
            width: 100%;
        }
    }
    .personal_consultation_section .personal_wrapper .personal_one .personal_items_wrapper {
        flex-direction: column;
    }    
    .personal_consultation_section .personal_wrapper .personal_one .personal_items_wrapper .personal_item {
        max-width: 100%;
    }
    .personal_consultation_section .personal_links{
    flex-direction: column;
    }
    .faq_section {
        padding: 100px 0;
    }

    .eclipce_desk {
        display: none;
      }
      .eclipce_mob {
            display: block;
        }

      .tarif_section {
        align-items: unset;
      }
      .tarif_cards_wrapper {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 60px;
        gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
      }

      .twocards .tarif_card {
        width: calc(100% - 30px);
        }

      .tarif_card {
        width: calc(100% - 25px);
        max-width: none;
        scroll-snap-align: center;
        height: auto;
        padding: 20px;
        gap: 24px;
      }

      .slider-nav {
        display: flex;
      }

      .progwrapper {
        width: 100%;
        padding-top: 0px;
        gap: 32px;
        padding: 0 15px;
      }
    .tarif_section  .container {
        display: flex;
        flex-direction: column;
        align-items: normal;
        width: auto;
        max-width: 100%;
    }
        .tarif_section .tarif_cards_wrapper .tarif_card .tarif_card_bottom {
        gap: 32px;
        padding-top: 36px;
    }
    .tarif_section .tarif_cards_wrapper .tarif_standart_card ul {
        font-size: 14px;
        gap: 12px;
    }
    .tarif_section .tarif_cards_wrapper .tarif_golden_card ul {
        font-size: 14px;
        gap: 12px;
    }
    .tarif_section {
        .eclipce_desk {
            display: none;
        }
        .eclipce_mob {
            display: block;
        }
    }
    // .tarif_section .container:last-child {
    //     padding-top: 100px;
    //     gap: 32px;
    
    //     h2 {
    //         padding-bottom: 16px;
    //     }
    // }
    .tarif_section .container {
        h2 {
            text-align: center;
        }
    }   
    
    #simple-ajax-form {
        flex-direction: column;
        gap: 12px;
    }
    .form_section #simple-ajax-form input {
        font-size: 14px;
    }
    .footer-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
      }
    
      .footer-grid > * {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
        text-align: center;
      }
    
      .footer-logo {
        margin-bottom: 15px;
      }
    
      .footer-menu ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
      }
    
      .footer-contacts {
        order: 5;
        margin: 15px 0;
      }
    
      .footer-social {
        order: 6;
        justify-content: center;
        margin: 10px 0;
      }
    
      .footer-legal {
        order: 3;
        margin: 0;
      }
    
      .footer-policy {
        order: 4;
        margin-bottom: 15px;
      }
    
      .footer-copyright {
        order: 7;
        margin-top: 20px;
      }

      .footer-empty {
        display: none;
      }
}

@media (max-width: 425px) {

    .eclipce_bg {
        position: absolute;
        z-index: 1;
        top: 50px;
        right: 39px;
    }
    .tarif_cards_wrapper {
        padding-left: 10%;
        padding-right: 15px;
    }

}
@media (max-width: 375px) {
    .tarif_cards_wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}